<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/coeur.png">
            <h1 style="color: red;">{{textMessage}}</h1>
        </div>
        
         {{>footer}}
    </body>
   
</html>